 html{
    background: cornsilk url(https://wallpaperaccess.com/full/1089635.png);
    background-size: cover;
    font-family: helvetica neue;
    text-align: center;
    font-size: 10px;

}

body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
    align-items: center;
  }

  h1{
    align-items: center;
    text-align: center;
    padding: 1%;
    color: slategray;
    background: cornsilk;
    width: 20vw;
    font-size: 4rem;
    margin-top: 5%;
  }

  .clock {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: antiquewhite;
    margin: 0 auto;
    position: relative;
    border:20px solid #CC5500;
 
  }

  .clock-face {
    background-color: #000;
    position: absolute;
    left: calc(50% - 10px);
    top:  calc(50% - 10px);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 20;
    
  }

  .hand {

    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: ease-in-out;
  }

  .hour{
    width: 10px;
    height: 75px;
    background-color: #000;
    transform-origin: bottom center;
    border-radius: 4px;
    position: absolute;
    top: 75px;
    left: 145px;
    z-index: 10;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
      transform: rotate(360deg);
  }

  .min{
    width: 5px;
    height: 120px;
    background-color: #000;
    transform-origin: bottom center;
    border-radius: 4px;
    position: absolute;
    top: 30px;
    left: 147px;
    z-index: 9;
    transform: rotate(90deg)
  
  }

  .second{
    width: 2px;
    height: 120px;
    background-color:#f55c47;
    transform-origin: bottom center;
    border-radius: 4px;
    position: absolute;
    top: 30px;
    left: 149px;
    z-index: 8;  
      transform: rotate(360deg);
  }

  ul{
    list-style: none;
    padding: 0;

}
  ul li{
    position: absolute;
    padding-top: 1%;
    width:20px;
    height:20px;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    font-weight: bold;
    color:slategray;
}
  ul li:nth-child(1){
    right: 22%;
    top:6.5%;
}
  ul li:nth-child(2){
    right: 6%;
    top:25%;
}
  ul li:nth-child(3){
    right: 1%;
    top:calc(50% - 10px);
    color:#f55c47;
    font-size: 20px;
    font-weight: bold;
}
  ul li:nth-child(4){
    right: 6%;
    top:69%;
}
  ul li:nth-child(5){
    right: 22%;
    top:84%;
}
  ul li:nth-child(6){
    right: calc(50% - 10px);
    top:calc(99% - 20px);
    color:#f55c47;
    font-size: 20px;
    font-weight: bold;
}
  ul li:nth-child(7){
    left: 22%;
    top:84%;
}
  ul li:nth-child(8){
    left: 6%;
    top:69%;
}
  ul li:nth-child(9){
    left: 1%;
    top:calc(50% - 10px);
    color:#f55c47;
    font-size: 20px;
    font-weight: bold;
}
  ul li:nth-child(10){
    left: 6%;
    top:25%;
}
  ul li:nth-child(11){
    left: 22%;
    top:6.5%;
}
  ul li:nth-child(12){
    right: calc(50% - 10px);
    top:1%;
    color:#f55c47;
    font-size: 20px;
    font-weight: bold;
}


